---

import {
    Table,
    TableBody,
    TableCell,
    TableHead,
    TableHeader,
    TableRow,
} from "@/components/ui/table"

const drugEarnings = [
    {
        id: 1,
        name: "Ibupirac 500",
        unitPrice: 7999,
        quantitySell: 79
    },
    {
        id: 2,
        name: "Ibupirac 500",
        unitPrice: 7999,
        quantitySell: 79
    },
    {
        id: 3,
        name: "Ibupirac 500",
        unitPrice: 7999,
        quantitySell: 79
    },
    {
        id: 4,
        name: "Ibupirac 500",
        unitPrice: 7999,
        quantitySell: 79
    }
]

const bestProducts = [
    {
        id: 1,
        name: "Ibupirac 500",
        rated: 4.4,
    },
    {
        id: 2,
        name: "Ibupirac 500",
        rated: 4.8,
    },
    {
        id: 3,
        name: "Ibupirac 500",
        rated: 4.8,
    },
    {
        id: 4,
        name: "Ibupirac 500",
        rated: 4.8,
    },
]


---


<div class="col-span-12 md:col-span-6 bg-slate-100/90 dark:bg-slate-600/95 rounded-xl md:w-5/6 pb-2">
    <Table className="mt-10">
        <h3 class="text-center text-2xl font-bold my-10 dark:text-white uppercase ">Drug earnings</h3>
        <TableHeader>
            <TableRow>
                <TableHead className="font-bold text-black dark:text-white text-center">Id</TableHead>
                <TableHead className="font-bold text-black dark:text-white text-center">Name</TableHead>
                <TableHead className="font-bold text-black dark:text-white text-center">Unit Price</TableHead>
                <TableHead className="font-bold text-black dark:text-white text-center">Quantity Sell</TableHead>
            </TableRow>
        </TableHeader>
        <TableBody>
            {drugEarnings.map((earning: any) => (
                <TableRow key={earning.id}>
                    <TableCell className="text-center dark:text-white">{earning.id}</TableCell>
                    <TableCell className="text-center dark:text-white">{earning.name}</TableCell>
                    <TableCell className="text-center dark:text-white">${earning.unitPrice}</TableCell>
                    <TableCell className="text-center dark:text-white">{earning.quantitySell}</TableCell>

                </TableRow>
            ))}
        </TableBody>
    </Table>

</div>
<div class="col-span-12 md:col-span-6 bg-slate-100/90 dark:bg-slate-600/95 rounded-xl md:w-5/6 pb-2"> 

    <Table className="mt-10 w-[22.5rem] md:w-full">
        <h3 class="text-center text-2xl font-bold my-10 dark:text-white">BEST PRODUCTS</h3>
        <TableHeader>
            <TableRow>
                <TableHead className="font-bold text-black dark:text-white text-center">ID</TableHead>
                <TableHead className="font-bold text-black dark:text-white text-center">Name</TableHead>
                <TableHead className="font-bold text-black dark:text-white text-center">Rated</TableHead>
            </TableRow>
        </TableHeader>
        <TableBody>
            {bestProducts.map((earning: any) => (
                <TableRow key={earning.id}>
                    <TableCell className="text-center dark:text-white">{earning.id}</TableCell>
                    <TableCell className="text-center dark:text-white">{earning.name}</TableCell>
                    <TableCell className="text-center dark:text-white">{earning.rated}</TableCell>
                </TableRow>
            ))}
        </TableBody>
    </Table>

</div>